/*===================== google-fonts ============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500,700&display=swap');

/* =================== root ================== */
:root{
    /* h1 title */
    --main-title:'Roboto', sans-serif;
    --h1-col:#3949ab;
    --head-text: capitalize;
    /* h2 title and p */
    --sec-title:'Poppins', sans-serif;
    --para-text: capitalize;
    --h2-col:#6f74dd;
    /* button-color */
    --btn-col:#00227b;
    /* nav */
    --nav-text: capitalize;
    --margin-right: 20px;
    
}
/* ===================== base ==================== */
section{
    justify-content: center;
}

/* ===================== nav-style ================== */
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>.nav-right{
    display: flex;
    text-transform: var(--nav-text);
    margin-left: 55%;
}
nav>ul>.nav-right>li{
    margin-right: 20px;
}
nav li a{
    text-decoration: none; 
}
nav>ul>#logo{
    font-weight: 700;
    font-family: var(--main-title);
    color: var(--h1-col);
}
/* ===================== banner ================== */
.banner{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width h1{
    font-family: var(--main-title);
    font-weight: 700;
}
.half-width img{
    width: 50%;
}
.camera{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: contain;
}