/*===================== google-fonts ============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500,700,900&display=swap');

/* =================== root ================== */
:root{
    /* h1 title */
    --main-title:'Roboto', sans-serif;
    --h1-size: 40px;
    --h1-col:#3949ab;
    --h1-wight: 900;
    --head-text: capitalize;

    /* h2 title and p */
    --sec-title:'Poppins', sans-serif;
    --h2-size: 35px;
    --para-text: capitalize;
    --h2-col:#6f74dd;

    /* product-title */
    --h3-title:'Poppins', sans-serif;
    --h3-size: 30px;
    --h3-col:#3949ab;

    /* product-price-title */
    --h4-title:'Poppins', sans-serif;
    --h4-size: 25px;
    --h4-col:#3949ab;
    /* button-color */
    --btn-family:'Poppins', sans-serif;
    --btn-col:#00227b;

    /* nav */
    --nav-text: capitalize;
    --margin-right: 20px;
    
}
/* ===================== base ==================== */
section{
    justify-content: center;
    margin-right: 2%;
    margin-top: 150px;
    margin-left: 2%;
}

/* ===================== nav-style ================== */
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>.nav-right{
    display: flex;
    text-transform: var(--nav-text);
    margin-left: 55%;
}
nav>ul>.nav-right>li{
    margin-right: 20px;
}
nav li a{
    text-decoration: none; 
}
nav>ul>#logo{
    font-weight: 700;
    font-family: var(--main-title);
    color: var(--h1-col);
}
/* ====================================================
============= first-section =========================== */

/* ===================== banner ================== */
.banner{
    display: flex;
}
.half-width{
    width: 50%;
}

/* =====banner typography ========== */
.half-width h1{
    font-family: var(--main-title);
    font-size: var(--h1-size);
    font-weight: var(--h1-wight);
    color: var(--h1-col);
}
.half-width p{
    font-family: var(--para-text);
    line-height: 1.5rem;
    margin-bottom: 25px;
}
/* ===================== button ================== */
.half-width a{
    text-decoration: none;
    font-family: var(--btn-family);
    color: var(--btn-col);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid var(--btn-col);
    transition: 1s;
}
/* ===================== button arrow ================== */
.half-width a i{
    margin-left: 12px;
}
.half-width a:hover{
    color: #fff;
    background: var(--btn-col);
}
/* =========== banner image ============ */
.half-width img{
    width: 50%;
}
.camera{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: contain;
}
/* company-logo */
.company-logo{
    display: flex;
    padding: 30px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    transition: .2s;   
}
.company-logo li{
    display: grid;
    grid-template-columns: repeat(7,.3fr);
}
/* shadow-company-logo */
.company-logo:hover{
    padding: 30px;
    box-shadow: 1px 2px 3px #888, 1px -2px 3px #888;
}

/* ================================== All-Products =============================== */

/* ================================== section-title ==============================*/
.all-product h2{
    font-family: var(--sec-title);
    font-size: var(--h2-size);
    color: var(--h2-col);
    text-align: center;
}

/* ======= product-title,rating,description ===============*/
.inner-item h3{
    font-family: var(--h3-title);
    font-size: var(--h3-size);
    color: var(--h3-col);
    margin: 0;
}
.inner-item h4{
    font-family: var(--h4-title);
    font-size: var(--h4-size);
    color: var(--h4-col);
    margin: 0;
}
.inner-item>nav>ul{
    left: 0;
}